ThisProblem-T6T6.msh
ThisProblem-T3T3.msh
ThisProblem-T6T3.msh
ThisProblem-Q8Q4.msh
ThisIProblem-T6T3.msh
ImplicitProblem-T3T3.msh
ImplicitProblem-T6T3.msh
ImplicitProblem-Q8Q4.msh

output*
*.res

*.pdf

*.fig

StupidIdea/

QFEM-Footing2/
